<h1>Square With Form </h1>
<form action="/square/result">
    <label for="input">Enter a number</label>
    <input id="input" type="text" name="input">
    
    <button>Calculate square</button>
</form>
